 /** =screen.css
************************************************************
@project    FusionaryFramework
@colordef   #808080; dark gray (body copy)
@colordef   #6aa000; lime green (link)
@colordef   #517805; darker lime green (link hover)
@colordef   #eafbd8; light green (link hover bg)
************************************************************/

/** =fonts
************************************************************
@see  http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/
@see  http://www.sitepoint.com/article/eight-definitive-font-stacks/
@see  http://stevecochrane.com/v3/2007/12/13/helvetica-neue-variants-for-use-on-the-web/
************************************************************/
body,
input, button, textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .025em;
}
pre,code,kbd,tt,samp {
  font-family: "Andale Mono","Courier New",Courier,monospace;
}

/** =image replacement
************************************************************/
.replace {
  text-indent: -999em; display: block; font-size: 0; overflow: hidden;
}

/** =site specific baseline
************************************************************/
body {
  font-size: 12px;
  line-height: 1.5; /* 18px */
  color: #222;
}

/* =lists */
ol li { list-style: decimal; }
ul li { list-style: none; }
dt { font-weight: bold; }
ul li {
  background: url(/assets/images/bullet-black.png) no-repeat 0 .5em;
  padding-left: .75em;
}
dt { font-weight: bold; }
dd { margin-bottom: .75em; }
 
/* =margins */
p, table, form, pre, ul, ol, dl, address, .box { margin-bottom: 1.5em; }
ul, ol { margin-top: 1.5em; }
ol, pre { margin-left: 1.5em; }
li { margin-bottom: .75em; line-height: 1.25; }
li ol, li ul { margin-bottom: 0; margin-top: .75em; }

li p, blockquote p { margin-bottom: .75em; }

/* =blockquote */
blockquote {
	font-style: italic;
	margin: 1.5em;
}
blockquote em,
blockquote cite { font-style: normal; }

/* =tables */
table       { width:100%; border-collapse:separate; border-spacing:0; }
th          { font-weight: bold; }
th, td      { padding: 4px 10px; text-align: left; }
tr.alt td,
tr.alt th   { background: #F4F4F4; }
tfoot       { font-style: italic; }
caption     { font-weight: bold; }

/* =links */
a { text-decoration: none; color: #5ec2dd ; }
a:hover { background-color: #5ec2dd ; color: #fff; }
.biglink-hover * {
  color: #5ec2dd ;
}
.biglink {
  cursor: pointer;
}

/* =headings */
h1,h2,h3,h4,h5,h6 { margin-bottom: .75em; font-weight: bold; }
h1,h2,h3 { line-height: 1; }
h4,h5,h6 { line-height: 1.2; }
h1 { font-size: 30px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/** =common
************************************************************/

/* =block */
.block {
  display: block;
  margin-bottom: 1.5em;
}
a.block img {
  display: block;
}

/* =inline images */
p img, img.left, a.img.left img { margin: 0 1em .75em 0; float:left; }
img.right, a.img.right img      { margin: 0 0 .75em 1em; }
p img { margin-top: .75em; }
img.top, a.top.img  { margin-top: 0;}

/* =margins */
.no-margin     { margin-bottom: 0; }
.half-margin   { margin-bottom: .75em; }
.double-margin { margin-bottom: 3em; }

/* =ruled list */
.ruled li {
  border-bottom: 1px solid #ccc;
  background: none;
  padding: 0 0 .66em; /* adjust for border pixel */
  margin: 0 0 .75em;
}
.ruled {
  border-top: 1px solid #ccc;
  padding-top: .75em;
}

/* =image frame */
.framed,
a.framed img {
  border: 2px solid #d9d5ca;
}
a.framed:hover img {
  border-color: #5ec2dd;
}

/* =text */
.small      { font-size: 11px; }
.large      { font-size: 16px; }
.caps, .numbers { letter-spacing: 0.1em } 
.note {
  font-size: 11px;
  font-weight: normal;
}
.intro {
  color: #ccc;
  font-size: 18px;
  margin-bottom: 1em;
}

/* inline nav */
.inav li {
  border-left: 1px solid #BBB;
  margin-left: .75em;
  padding-left: .66em;
}
.inav li:first-child,
.inav .li-1{
  padding-left: 0;
  margin-left: 0;
  border-left: 0;
}

/** =layout
************************************************************/
body { background: #fff; }

.container { margin: 0 auto; width: ; }

.header   {  }
.footer   {  }
.content  {  }

.content-main   {  }
.content-right  {  }
.content-left   {  }

/** =navigation
************************************************************/

/** =header
************************************************************/

/** =footer
************************************************************/