.container { width: 950px; margin: 1em auto; }
.header, .content-header { margin-bottom: 1em; padding-bottom: 1em; border-bottom: 5px solid #ddd; }
.footer { text-align: right; padding: 1em 0 0; border-top: 5px solid #ddd; color: #aaa; font-size: 1.25em;}

.content-header h2 { margin-bottom: .5em; }
.content-header h3 { margin-bottom: 0; }
.header h1 { color: #555; font-size: 4em; margin-bottom: 0; }
.header h1 a { color: inherit; background: transparent; }
.header h1 a:hover { color: #777; }

.content h2 { font-size: 2.75em; color: #999; }
.content h3 { font-size: 1.75em; color: #aaa; font-style: italic; font-weight: normal; }

.content dt { text-transform: uppercase; font-size: 1.5em; color: #555; }
.content dd { padding: 0 2em; }
.content dd code { font-size: 1.2em; }

.content .backtrace pre { margin: 0; background: #444; color: #ddd; padding: 1em; }
.active-filter { font-weight: bold; }

.filter-exception_class li, .filter-controller_action li { font-size: 1.25em; }

ul.watched-exceptions { padding-top: 0; }
ul.watched-exceptions li { position: relative; margin-bottom: 0; padding: 1em; }
ul.watched-exceptions li.selected { background: #fafafa; }
ul.watched-exceptions li.selected .exception-timestamp { color: #bbb; }
ul.watched-exceptions li.selected .exception-message { color: #888; }
.exception-class { font-size: 1.75em; font-weight: normal; margin-bottom: .25em; }
.exception-message { font-size: 1.25em; color: #aaa; font-style: italic; }
.exception-timestamp { position: absolute; right: .25em; top: 0; font-size: 3.5em; color: #ddd; font-style: italic; }

.pagination { margin-bottom: 1.5em; }
.pagination a, .pagination span { border: 1px solid #ddd; padding: .25em .625em; }
.pagination span.gap { border: none; }
.pagination span.current { border-color: #fff; font-weight: bold; }
.pagination span.disabled { font-style: italic; color: #aaa; }