<div class="content-main">
  <div id="watched-exceptions-recordset">
    <%= render :partial => "recordset", :locals => {:watched_exceptions => @watched_exceptions} %>
  </div>
</div>
<div class="content-extra">
  <ul class="filter-exception_class">
    <% WatchedException.exception_classes.each do |exception_class| %>
      <li><%= exception_class %></li>
    <% end %>
  </ul>
  <ul class="filter-controller_action">
    <% WatchedException.controller_actions.each do |controller_action| %>
      <li><%= controller_action %></li>
    <% end %>
  </ul>
</div>
<% content_for :head do %>
  <style type="text/css">
    .active-filter {background: red;}
  </style>
<% end %>
<% content_for :footer do %>
  <script type="text/javascript">
    (function($) {
      var watchtower = $.watchtower({recordset: $("#watched-exceptions-recordset")});
      
      $("ul[class^=filter-] li").each(function(idx, li) {
        var $li     = $(li),
            filter  = $li.parent().attr("class").replace("filter-", ""),
            name    = $li.text();
        
        $li.click(function() {
          var item = $(this);
          if(item.hasClass("active-filter")) {
            watchtower.filters(filter).clear(function() {
              item.removeClass("active-filter");
            });
          } else {
            watchtower.filters(filter).set(name, function() {
              item.siblings().removeClass("active-filter");
              item.addClass("active-filter");
            });
          }
        });
      });
      
      $(".pagination a").live("click", function(evt) {
        var anchor = $(this);
        console.log(evt);
        watchtower.filters("page").set(anchor.attr("href").match(/page\=(\d+)/)[1], function() {});
        evt.preventDefault();
        return false;
      });
    })(jQuery);
  </script>
<% end %>